
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;1,400&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400;800&family=Poppins:wght@300&family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Hind:wght@400;500&family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Hind:wght@400;500&family=Inter:wght@300&family=Nanum+Myeongjo:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }


.titulos{ color: rgb(236, 243,158);
    background-color: rgba(19, 42, 19, 0.884);
    font-size: 3rem;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    margin: auto;
    padding: auto;

}

nav ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 50%;
    position: relative;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: '', serif;
    font-weight: bolder;
    font-size: 1.5rem;
    font-style: oblique;  
}
nav ul li a:hover {
    color: rgb(218, 183, 31);
   
}

.boda{
    position:static;
    top: 0px;
    z-index: -10;
}
.boda1{
    position:static;
    top: 0px;
    z-index: -10;
}
.boda2{
    position:static;
    top: 0px;
    z-index: -10;
}
.boda3{
    position:static;
    top: 0px;
    z-index: -10;
}
.boda4{
    position:static;
    top: 0px;
    z-index: -10;
}
.logo{
    padding: 1%;   
    height: 30%;
    display: inline-block;}


.texto-boda{
    color: rgba(0, 0, 0, 0.836);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    color: rgba(10, 10, 10, 0.959);
    font-size: 4vh;
    text-align: center;
}

.texto-boda h2{
    color: rgb(55, 105, 26);
    margin: 25px;
    padding-right: 3px;
}

.section-vision.matrimonio h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    color: rgba(10, 10, 10, 0.959);
    font-size: 4vh;
    text-align: center;
}
.imgNovio{
    text-align: right;
}
.img1´{
    
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.img2{
    
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    
}
.img3{
    
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}
.texto-boda p{
    line-height: 1.6;
    letter-spacing: 1px;
}
.section-vision p{
    line-height: 1.6;
    letter-spacing: 1px;
}

.foot{
    text-align: center;
    letter-spacing: 4px;
    background-image: linear-gradient(to right top, #eaecb3, #ffe5bd, #ffe2d1, #ffe5e6, #ffeaf4, #fbebf6, #f7ecf7, #f3edf7, #ede9f1, #e7e5ea, #e1e0e3, #dcdcdc);
    }

.boda{
background-image: url(./../assets/images/foto\ sofi.jpg);
background-repeat:no-repeat;
background-size:cover;
background-attachment: fixed;



}
.boda1{
    background-image: url(./../assets/images/head\ 133.jpg);
background-repeat:no-repeat;
background-size:cover;
background-attachment: fixed;




}

.boda2{
    background-image: url(./../assets/images/head54.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
       
}
.boda3{
    background-image: url(./../assets/images/head\ 169.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
    
}
.boda4{
    background-image: url(./../assets/images/head\ 181.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
   
    
}

.foot{
    
    background-repeat:no-repeat;
    background-size:cover;
    margin: auto;

}

.barra li{
    display: inline-block;
    text-align: right;
}
 
.section-vision{
    font-family: 'Hind', sans-serif;
}
.texto-boda p{
    font-family: 'Hind', sans-serif;
}
.section-vision h3{
    font-family: 'Nanum Myeongjo', serif;
}
.cajita {
    background-color: rgba(51, 49, 49, 0.781);
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 10px;
    display:inline-block;
    margin: 10px;
    border-color: rgba(218, 184, 31, 0.473);
    border:border-radius: 10px;
    
}
.texto-boda{
    line-height: 1.6;
    letter-spacing: 02px;
    margin: 10px;
    padding: 10px;
    font-family: 'Nanum Myeongjo', serif;
}     
.texto-n{
    line-height: 1.9;
    letter-spacing: 02px;
    text-align: center; 
    font-family: 'Nanum Myeongjo', serif;
    margin: 10%;
    color:rgb(3, 61, 27);
    font-size: 4rem;

}

.galeria{
    background-color: rgba(255, 252, 226, 0.897);
    width: 100%
    margin 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 95%;
    gap: 3px;
    border-radius: 5px;
}
.hijo{
 object-fit: cover;
   margin-bottom: 20px;
   border-radius: 5px;
}
  
.texto-boda{
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
    
}

.texto-n{
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
    line-height: 1.6;
    letter-spacing: 02px;
    font-family: 'Nanum Myeongjo', serif;
    border-color: rgb(3, 61, 27);
    border-radius: 3px;

}

.Img{
    border-color: black;
}

.p{
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.6;
    letter-spacing: 02px;
    color: rgba(26, 27, 25, 0.685);
    margin: 10px;
    padding-right: 70px;
    
}
    
.textoregalo{
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(12, 97, 12, 0.959);
}

.buzon{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2rem;
    background-color: aqua;
    

}
.form-label{
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(23, 163, 18, 0.788);
    border-bottom: 3px;

}
.container{
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(8, 37, 7, 0.911);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(168, 189, 54, 0.473);
    margin: 6%;
    padding: auto;
    object-fit: cover;
    height: 125vh;
    width: 90%;
    background-color: rgb(231, 241, 169);
    flex-wrap: wrap;
    
    
}

.esp1{
    margin: 5%;
    padding: 5%;
}

.fott{
    margin: 5%;
    padding: 5%;
    margin-top: 10%; 
    transition: transform 2s;

}

.fott:hover{ transform: translate(30px, 30px); scale: (2,2);
    
    

}
.s{
    
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    margin: 10%;
   

} 

.sofia{
  
    text-align: left;
    color: rgba(0, 0, 0, 0.89);
    margin: 10%;
}
.fotografias{
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 6%;
    
    
}

.elladijosi{
    
    color: rgba(0, 0, 0, 0.89);
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    
    
    
    
}

.elladijosi11{
   

    color: rgba(8, 37, 7, 0.911);
    margin: 80%;
    padding: 5%;
    font-size: 2rem;
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;

}

.fott {
    height: 70vh
    objec-fit: cover;
    width: 400%
    
}
   
.row{

    width: 80%
    margin auto;
}
    
.texto-n{
    font-family: 'Nanum Myeongjo', serif;
}

.casamiento{
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    color: rgba(16, 17, 16, 0.959);
    font-size: 3vh;
    text-align: left;
}

.textof{
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(8, 37, 7, 0.911);
    
}

.elladijosi{
    margin: auto;
}
.elladijosi11{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
    margin: auto;
    text-align: center;


}
.vision{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    color: rgba(12, 97, 12, 0.959);
    font-size: 4vh;
}

.texto-boda5{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 4vh;

}

.texto-boda2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    color: rgba(16, 17, 16, 0.959);
    font-size: 3vh;
    text-align: left;
}
.for{
    width: 50%;
}

.textoregalo{
    
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
   
}

.textob{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: brown;
}

.container-fluid{
    background-color: rgba(241, 241, 241, 0.719);
}
.container-fluid1{
    background-color: rgba(230, 228, 225, 0.288);
}
.card-title{
    font-family: 'Nanum Myeongjo', serif;
    text-align:center;
    color: rgb(245, 241, 236);
    background-color: rgba(61, 59, 59, 0.836);
    
}

.historia{
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;
    font-size: larger;

}
 
.iframe{
    text-align: center;
    margin: 4%;
    width: 92%;
}

.video{
    text-align: center;
    margin: 15%;
    width: 70%;
    justify-content: center;
    
}
.texto-bodav{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(8, 37, 7, 0.911);

}

.texto-bodau{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(8, 37, 7, 0.911);
}

.texto-boda4{
    font-family: 'Nanum Myeongjo', serif;
    margin: 5%;
    color: rgba(16, 17, 16, 0.959);
    font-size: 4vh;
    text-align: left;
}

.matrimonio{
    font-family: 'Nanum Myeongjo', serif;
    margin: 5%;
    color: rgba(16, 17, 16, 0.959);
    font-size: 4vh;
    text-align: center;
}

.vision{
    font-family: 'Nanum Myeongjo', serif;
    color: rgba(16, 17, 16, 0.959);
    font-size: 1.2rem;
    text-align: center;
    width: 85%;
    margin: 7%;
}
.btn{
    color: rgba(27, 26, 26, 0.726);
    margin: auto;
    justify-content: right;
    background-image: linear-gradient(to right top, #acbbaa, #c0b8a1, #d3b4a6, #dab1b9, #ceb5d2);
    font-size: x-large;
    width: 25%;
    
}
.form-label{
    color: brown;
}

.historia{
    padding: 10%;
    text-align: center;
    justify-content: center;
    width: 90%;

}
.for{
   margin: 5%;
   width: 70%;
   height: 10%;
   


}

.p{
    text-align: center;
}
.card{
    background-color: rgba(187, 70, 70, 0.205);
    color: rgb(255, 254, 251);
    font-family: 'Nanum Myeongjo', serif;
    transition: transform 2s;

}

.card:hover{ transform: translate(20px, 20px); scale: (2,2);

}
.card-body{
    color: rgb(49, 48, 47);
}

.card-text{
    color: rgb(49, 48, 47);
}
.text-muted{
    color: rgb(49, 48, 47);
}

.card-body{
    color: bisque;
}

.icon{
    display: inline-block;
    font-size: 44px;
    animation: float infinite 4s ease-in-out;
}
